In [1]:
!pip install pandas numpy
!pip install lxml

Requirement already satisfied: pandas in c:\programming\python\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\programming\python\lib\site-packages (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programming\python\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programming\python\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programming\python\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\programming\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: lxml in c:\programming\python\lib\site-packages (5.3.0)

In [2]:
import pandas as pd
import numpy as np

def warn(*args,**kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

In [3]:
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [5]:
tables = pd.read_html(URL)
df = tables[3]

df.columns = range(df.shape[1])

df = df[[0,2]]

df = df.iloc[1:11,:]

df.columns = ['Country','GDP (Million USD)']

In [9]:
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']],2)

df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [10]:
df.to_csv('./largest_economies.csv')